nav ul {
	everything: anything;
	background-color: #012345;
}
nav li {
	background-color: rgb(1,#012345,2);
	everything: anything;
	apple: pear;
}
nav a {
	apple: apple;
}
.users #userTab,
.posts #postTab {
	everything: ;
	background-color: rgb(1,#012345,2);
}
