nav ul {
	background-color: #012345;
	everything: anything;
}
nav li {
	apple: pear;
	background-color: rgb(1,#012345,2);
	everything: anything;
}
nav a {
	apple: apple;
}
.users #userTab,
.posts #postTab {
	background-color: rgb(1,#012345,2);
	everything: ;
}
